<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:replace="~{fragments/meta}"></th:block>
    <title>My Spring Boot App</title>
    <th:block th:replace="~{fragments/style}"></th:block>
</head>
<body>

<div th:replace="~{fragments/navbar}"></div>

<main layout:fragment="main-content">
<!--  individual web page content  -->
</main>

<div th:replace="~{fragments/footer}"></div>


<th:block th:replace="~{fragments/script}"></th:block>

<th:block layout:fragment="subScript">
<!--  Individual web page script  -->
</th:block>

</body>
</html>
