<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master-layout}">
>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Spring Boot App</title>
<!--   <link rel="stylesheet" href="/css/bootstrap.min.css">-->
</head>
<body>

<main layout:fragment="main-content">
    <!--    welcome ~ start here-->
    <div th:replace="~{fragments/welcome}">

    </div>
    <!--    welcome ~ end here-->
    <!--        card start here-->
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col" th:each="article : ${articles}" th:object="${article}">
                <div th:replace="~{/fragments/card :: card-readonly(*{uuid}, *{title}, *{thumbnail}, *{author})}"></div>
            </div>

        </div>
    </div>
    <!--        card end here-->
</main>

</body>
</html>
