<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/master-layout}">
>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Spring Boot App</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

<main layout:fragment="main-content">
    <!--  individual web page content  -->
    <div class="container mt-3">
        <h1>Create new article</h1>
        <form>
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title">
<!--                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
                    </div>
                    <div class="mb-3">
                        <label for="author" class="form-label">Author</label>
                        <input type="text" class="form-control" id="author">
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
                <div class="col-6">
                        <div class="mb-3">
                            <label for="thumbnailFile" class="form-label">Thumbnail</label>
                            <input class="form-control" type="file" id="thumbnailFile">
                <!--preview image before upload javascript-->
                            <img class="w-50  mt-2" id="placeholder" th:src="@{/resources/img/default/placeholder.png}" alt="your image" />
                         </div>
                </div>

            </div>
        </form>
    </div>


</main>

<th:block layout:fragment="subScript">
    <script th:inline="javascript">

    </script>
    <script>
        $(function(){
            const thumbnailFile = $('#thumbnailFile')
            const placeholder = $('#placeholder')
            thumbnailFile.onchange =evt => {
                const  [file] = thumbnailFile.files
                if(file) {
                    placeholder.src = URL.createObjectURL(file)
                }
            }
        })
    </script>
</th:block>

</body>
</html>
